div {
    background-color: lightblue;
    margin: 10px;
    padding: 5px;
    border: solid black 2px;
}

#div3 {
    /* position: static; */
    /* position: fixed; */
    /* position: relative;
    top: 20px;
    right: 40px; */
    /* position: sticky;
    top: 5px; */
    /* position: absolute;
    top: 50px;
    left: 50px; */
}

#div2 {
    /* position: fixed;
    top: 10px; */
}